.form-convert-currency {
    display: flex;
    background-color: #efefef;
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #eee;
    padding: 30px 40px;
}

.form-convert-currency__input {
    width: 100%;
}

.form-convert-currency__input + .form-convert-currency__input {
    margin: 0 0 0 40px;
}

@media (max-width: 420px) {
    .form-convert-currency {
        flex-direction: column;
        padding: 30px;
    }

    .form-convert-currency__input + .form-convert-currency__input {
        margin: 20px 0 0 0;
    }
}